In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import gc
import sys
import time
import gc
import itertools
import tqdm

from sklearn.preprocessing import LabelEncoder
import scipy.stats as ss

if os.name=='nt':
    try:
        mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin'
        os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']
    except:
        pass
    
import xgboost as xgb
from sklearn.metrics import mean_squared_error 
from numba import jit

%matplotlib inline

### Load data

In [2]:
# Load data
train = pd.read_csv('all/sales_train.csv.gz')
test = pd.read_csv('all/test.csv.gz')
shop = pd.read_csv('all/shops-translated.csv')
item = pd.read_csv('all/item_category.csv')

test.set_index('ID', inplace=True)
item.drop(['item_name_translated'], axis=1, inplace=True)
shop.drop(['Name'], axis=1, inplace=True)

le = LabelEncoder()
item['item_cat1'] = le.fit_transform(item['item_cat1'].astype(str))
item['item_cat2'] = le.fit_transform(item['item_cat2'].astype(str))
shop['City'] = le.fit_transform(shop['City'])
shop['Type'] = le.fit_transform(shop['Type'])

shop.set_index('shop_id', inplace=True)
item.set_index('item_id', inplace=True)

In [3]:
train['sales'] = train['item_price']*train['item_cnt_day']
train = train.join(shop, how='left')
train = train.join(item, how='left')
train.date = pd.to_datetime(train.date, format='%d.%m.%Y')

In [7]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,sales,City,Type,item_cat1,item_cat2
0,2013-01-02,0,59,22154,999.00,1.0,999.00,26.0,3.0,3.0,23.0
1,2013-01-03,0,25,2552,899.00,1.0,899.00,26.0,4.0,20.0,32.0
2,2013-01-05,0,25,2552,899.00,-1.0,-899.00,0.0,4.0,3.0,23.0
3,2013-01-06,0,25,2554,1709.05,1.0,1709.05,1.0,5.0,3.0,23.0
4,2013-01-15,0,25,2555,1099.00,1.0,1099.00,23.0,4.0,3.0,23.0

### `cnt`

In [8]:
feature_dict = {} # dict containing all the features

In [9]:
# Total count of sales per month
train_p = train.pivot_table(index=['shop_id', 'item_id'],
                           columns='date_block_num',
                           values='item_cnt_day',
                           aggfunc=np.sum).fillna(0.0)
# Rename columns
train_p.columns = ['cnt_'+str(k) for k in train_p.columns.get_level_values(0)]
# Add one column for test data
train_p['cnt_34'] = np.zeros((len(train_p), 1))
# Add to the feature dict
feature_dict['cnt'] = train_p

### `sales`

In [10]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,sales,City,Type,item_cat1,item_cat2
0,2013-01-02,0,59,22154,999.00,1.0,999.00,26.0,3.0,3.0,23.0
1,2013-01-03,0,25,2552,899.00,1.0,899.00,26.0,4.0,20.0,32.0
2,2013-01-05,0,25,2552,899.00,-1.0,-899.00,0.0,4.0,3.0,23.0
3,2013-01-06,0,25,2554,1709.05,1.0,1709.05,1.0,5.0,3.0,23.0
4,2013-01-15,0,25,2555,1099.00,1.0,1099.00,23.0,4.0,3.0,23.0

In [11]:
# Total value of sales per month
sales = train.pivot_table(index=['shop_id', 'item_id'],
                         columns='date_block_num', 
                         values='sales',
                         aggfunc=np.sum).fillna(0.0)
# Rename columns
sales.columns = ['sales_'+str(k) for k in sales.columns.get_level_values(0)]
# Add on column for test data
sales['sales_34'] = np.zeros((len(sales), 1))
# Add to the feature dict
feature_dict['sales'] = sales

### explore

In [13]:
# Apply pivot table to x with combinations of the following parameters
index_list = ['item_id', 'shop_id', 'City', 'Type', 'item_cat1', 'item_cat2']
column_list = ['date_block_num']
value_list = ['item_price', 'item_cnt_day', 'sales']
aggfunc_list = [np.sum, np.mean]

In [32]:
for idx, col, val, agf in itertools.product(index_list, column_list, value_list, aggfunc_list):
    feature_dict['-'.join([idx, val, str(agf).split(' ')[1]])] = train.pivot_table(index=idx, 
                                                                                  columns=col,
                                                                                  values=val,
                                                                                  aggfunc=agf).fillna(0.0)